/******** GLOBAL ********/
body {
  align: center;
  padding: 50px 0px 0px 0px;
  z-index: 0;
  font-family: 'PT Sans', sans-serif;
}
.row-header {
  margin: 0px auto;
  padding: 0px 0px;
}
.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}
.row-footer {
  margin: 0px auto;
  padding: 10px 0px;
  background-color: #AfAfAf;
}
.jumbotron {
  margin: 0px auto;
  padding: 70px 30px;
  background: #7986CB;
  color: floralwhite;
}
.tab-content {
  border-bottom: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  padding: 10px;
}
.affix {
  top: 100px;
}
/******** FIN GLOBAL ********/

/******** HEADER ********/
.btn-pedir {
    width: 170%;
}
/******** FIN HEADER ********/

/******** CAROUSEL ********/
.carousel {
  background: #1a237e;
}
.carousel .item {
  height: 300px;
}
.carousel .item img {
  left: 0;
  min-height: 300px;
  position: absolute;
  top: 0;
}
#carouselButtons {
  bottom: 0px;
  position: absolute;
  right: 0px;
}
div.carousel img{
  width: 35%;
  height: 100%!important;
}
/******** FIN CAROUSEL ********/

/******** NAVBAR ********/
.navbar-inverse {
  background: #303f9f;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .active > a {
  background: #1a237e;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .active > a:hover {
  background: #1a237e;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .active > a:focus {
  background: #1a237e;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .open > a {
  background: #1a237e;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .open > a:hover {
  background: #1a237e;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .open > a:focus {
  background: #1a237e;
  color: #ffffff;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
  background-color: #303f9f;
  color: #eeeeee;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
  color: #000000;
}
.navbar-inverse .navbar-nav .open .dropdown-menu {
  background-color: #303f9f;
  color: #eeeeee;
}
/******** FIN NAVBAR ********/

/******** INDEX BODY ********/
div.media-images img{
	width: 300px;
	height: 250px;
  filter: gray;
  -webkit-filter: grayscale(0.7);
  -webkit-transition: all .5s ease-in-out;
}

div.media-images img:hover{
	width: 300px;
	height: 250px;
  -webkit-filter: grayscale(0);
  -webkit-transform: scale(1.1);
  transform: rotate(5deg);
}

.label{
  font-size: 70%;
}
/******** FIN INDEX BODY ********/

/******** MODAL PEDIDO ********/
.has-feedback .form-control{
  padding-right: 28px;
}

select.select-good-looking{
  padding: 5px;
  width: 12%;
  border-width: 3px;
  border-color: #337ab7;
  background-color: #337ab7;
  border-radius: 15px;
  color: #ffffff;
}
/******** FIN MODAL PEDIDO ********/

/******** CONTACTO ********/
div.contact-class h6{
  font-weight: bold;
  font-size: 0.9em;
}
/******** FIN CONTACTO ********/

/******** FOOTER ********/
address {
  color: #0f0f0f;
  font-size: 80%;
  margin: 0px;
}
div.site-footer h5{
	font-weight: bold;
	font-size: 1.2em;
}
div.site-footer a{
	text-decoration: none;
}
a.develop_by{
	font-weight: bold;
	text-decoration: none;
}
/******** FIN FOOTER ********/

/******** DISPOSITIVOS ********/
/* NOTEBOOK */
@media only screen and (max-width:1024px){
  .label{
    font-size: 55%;
  }
  div.carousel img{
    min-width: 50%;
    min-height: 50%;
  }
}
/* TABLET */
@media only screen and (max-width:768px){
  div.carousel img{
    min-width: 70%;
  }
  div.media-images img{
  	width: 150px;
  	height: 125px;
  }
  div.media-images img:hover{
    width: 150px;
  	height: 125px;
  }
  .btn-pedir {
      width: 100%;
  }
  .label{
    font-size: 50%;
  }
}
/* CELULAR */
@media only screen and (max-width:480px){
  div.media-images img{
  	width: 100px;
  	height: 75px;
  }
  div.media-images img:hover{
    width: 100px;
  	height: 75px;
  }
  div.carousel img{
    min-width: 100%;
    min-height: 70%!important;
    height: 70%!important;
  }
  h2.media-heading{
    font-size: 18px;
  }
  h4.media-subheading{
    font-size: 14px;
  }
  div.media-body p{
    font-size: 12px;
  }
  select.select-good-looking{
    width: 28%;
  }
  label{
    padding-right: 5px!important;
    padding-left: 5px!important;
  }
}
/******** FIN DISPOSITIVOS ********/
