/******** GLOBAL ********/
body {
  align: center;
  padding: 50px 0px 0px 0px;
  z-index: 0;
  font-family: 'PT Sans', sans-serif;
}
.row-header {
  margin: 0px auto;
  padding: 0px 0px;
}
.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}
.jumbotron {
  margin: 0px auto;
  padding: 50px 30px 60px 30px;
  color: floralwhite;
  background-image: url("../img/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.tab-content {
  border-bottom: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  padding: 10px;
}
.affix {
  top: 100px;
}
h3.body-title{
  font-size: 1.8em;
  text-transform: uppercase;
}
div.row-less-padding{
	padding: 0px 0px 40px 0px!important;
}
/******** FIN GLOBAL ********/

/******** HEADER ********/
a.navbar-brand{
  display: none;
}
div.navbar-principal{
  margin-left: 17px!important;
}
div.pedido{
  padding-top: 65%;
}
span.icon-btn-pedido{
  margin-right: 5px;
}
a.btn-pedir {
  width: 170%;
  margin-right: 10px;
  margin-left: 10px;
}
p.slogan{
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 20px;
}
img.img-responsive{
  padding-top: 35%;
}
/******** FIN HEADER ********/

/******** NAVBAR ********/
.navbar-inverse {
  background: #303f9f;
  color: #ffffff;
}
.navbar-nav a {
  font-size: 1.1em;
}
.navbar-inverse .navbar-nav > .active > a {
  background: #1a237e;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .active > a:hover {
  background: #1a237e;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .active > a:focus {
  background: #1a237e;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .open > a {
  background: #1a237e;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .open > a:hover {
  background: #1a237e;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .open > a:focus {
  background: #1a237e;
  color: #ffffff;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
  background-color: #303f9f;
  color: #eeeeee;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
  color: #000000;
}
.navbar-inverse .navbar-nav .open .dropdown-menu {
  background-color: #303f9f;
  color: #eeeeee;
}
a.translate{
  cursor: pointer;
}
/******** FIN NAVBAR ********/

/******** CAROUSEL ********/
.carousel {
  background: #1a237e;
}
.carousel .item {
  height: 300px;
}
.carousel .item img {
  left: 0;
  min-height: 300px;
  position: absolute;
  top: 0;
}
#carouselButtons {
  bottom: 0px;
  position: absolute;
  right: 0px;
}
div.carousel img{
  width: 35%;
  height: 100%!important;
}

h2.carousel-header{
  padding-left: 30%;
}

p.carousel-description{
  padding-left: 30%;
}

div.carousel-caption{
  left: 30%;
  right: 15%;
  padding-bottom: 6%;
}
span.fa-arrow-left{
  position: absolute;
  top: 50%;
  left: 10%;
}
span.fa-arrow-right{
  position: absolute;
  top: 50%;
  right: 10%;
}
/******** FIN CAROUSEL ********/

/******** INDEX BODY ********/
div.media-images img{
	width: 300px;
	height: 250px;
  filter: gray;
  -webkit-filter: grayscale(0.7);
  -webkit-transition: all .5s ease-in-out;
}
div.media-images img:hover{
	width: 300px;
	height: 250px;
  -webkit-filter: grayscale(0);
  -webkit-transform: scale(1.1);
  transform: rotate(5deg);
}
.label{
  font-size: 70%;
}
div.home-row{
  min-height: 250px;
}
h3.home-section-title{
  margin-top: 17%;
  font-size: 1.8em;
  font-family: 'PT Serif', serif;
  font-weight: bold;
  line-height: normal;
  color: ROYALBLUE;
  text-transform: uppercase;
}
h2.media-heading{
  margin-top: 11%;
}
div.left-section{
  padding-left: 2.5%;
  padding-right: 10%;
}
div.right-section{
  padding-left: 10%;
  padding-right: 2.5%;
}
div.media-body p{
  font-size: 1.15em;
}
/******** FIN INDEX BODY ********/

/******** MODAL PEDIDO ********/
.has-feedback .form-control{
  padding-right: 28px;
}

select.select-good-looking{
  padding: 5px;
  width: 12%;
  border-width: 3px;
  border-color: #337ab7;
  background-color: #337ab7;
  border-radius: 15px;
  color: #ffffff;
}
input.form-with-icon{
  display: inline-block;
  width: 80%;
}
/* Tabla precios */
.divTable{
	display: table;
	width: 100%;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
	border: 1px solid #999999;
	display: table-cell;
	padding: 3px 10px;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}

div.products-category{
  margin-left: 30px;
  margin-right: 30px;
}

.btn-products{
  background-color: #303f9f;
  color: #9d9d9d;
  border-color: #9d9d9d;
  padding: 10px;
}

.btn-products:hover{
  color: #FFFFFF;
}

.contenedor-productos{
  padding: 5px;
  margin-left: 30px;
  display: none;
}

input.products-input{
  border: 1px solid #ccc;
  border-radius: 4px;
}

/******** FIN MODAL PEDIDO ********/

/******** CONTACTO ********/
div.contact-class {
  font-size: 1.4em!important;
}
div.contact-class h6{
  font-weight: bold;
  font-size: 1em;
}
div.contact-class address {
  color: #000;
  font-size: 80%;
  margin: 0px;
}
h5.map-class{
  font-weight: bold;
  font-size: 1.2em;
}
div.container-fluid{
  padding-left: 0;
  padding-right: 0;
}
div.contact-btn-group{
  top: 10px;
  left: 0;
  padding-bottom: 25px;
}
div.contact-section{
  padding-bottom: 20%;
}
a.button-contactus{
  font-size: 1.1em!important;
}
/******** FIN CONTACTO ********/

/******** GALLERY ********/
a.gallery img{
  margin: 7px;
}
/******** FIN GALLERY ********/

/******** FOOTER ********/
.row-footer {
  margin: 0px auto;
  padding: 10px 0px;
  background-color: #303f9f;
  color: #e6ecff;
}
div.site-footer address {
  color: #fff;
  font-size: 80%;
  margin: 0px;
}
div.site-footer{
  font-size: 1.2em!important;
  padding-top: 20px;
}
div.site-footer h5{
	line-height: normal;
	font-size: 1.3em;
}
div.site-footer a{
	text-decoration: none;
  color: #9d9d9d;
}
div.site-footer a:hover{
  color: #fff;
}
div.footer-column-3 a{
  color: #fff;
}
div.copyright{
  color: #ddd;
  padding-top: 60px;
}
a.develop_by{
  color: #74a9d8;
	font-size: 1em!important;
	font-weight: bold;
	text-decoration: none;
}
a.develop_by:hover{
  color: #9cc2e3;
}
li.footer-menu-item{
  color: #9d9d9d;
  padding-left: 10px;
}
/******** FIN FOOTER ********/

/******** DISPOSITIVOS ********/
/* NOTEBOOK */
@media only screen and (max-width:1024px){
  .label{
    font-size: 55%;
  }
  div.carousel img{
    min-width: 50%;
    min-height: 50%;
  }
  div.carousel-caption{
    left: 48%;
    right: 10%;
    padding-bottom: 5%;
  }
}
/* TABLET */
@media only screen and (max-width:768px){
  div.carousel img{
    min-width: 60%;
  }
  div.media-images img{
  	width: 150px;
  	height: 125px;
  }
  div.media-images img:hover{
    width: 150px;
  	height: 125px;
  }
  div.pedido{
    padding-top: 10%;
	padding-bottom: 0%;
	padding-right: 20%;
	padding-left: 20%;
  }
  a.btn-pedir {
      width: 100%;
  }
  p.slogan{
    font-size: 1.4em;
	padding-right: 0%;
	padding-left: 0%;
	padding-top: 2%;
	padding-bottom: 0%;
  }
  .label{
    font-size: 50%;
  }
  img.img-responsive{
	margin-left: 37%;
	padding-top: 5%;
  }
  a.navbar-brand{
	 font-size: 1.7em;
	 display: inline-block;
	 text-transform: uppercase;
  }
  div.carousel-caption{
    left: 50%;
    right: 5%;
    padding-bottom: 5%;
  }
  div.contact-section{
    padding-bottom: 3%;
  }
}
@media only screen and (max-width:600px){
  img.img-responsive{
	margin-left: 30%;
	padding-top: 5%;
  }
}

/* CELULAR */
@media only screen and (max-width:480px){
  div.media-images img{
  	width: 100px;
  	height: 75px;
  }
  div.media-images img:hover{
    width: 100px;
  	height: 75px;
  }
  div#mycarousel img{
    display:none;
  }
  h2.media-heading{
    font-size: 18px;
  }
  h4.media-subheading{
    font-size: 14px;
  }
  div.media-body p{
    font-size: 12px;
  }
  select.select-good-looking{
    width: 28%;
  }
  label{
    padding-right: 5px!important;
    padding-left: 5px!important;
  }
  div#btn-group-contactus-1 > div.btn-group{
    margin-left: auto;
    margin-right: auto;
  }
  div.home-row{
    min-height: 150px;
    padding: 0px 0px 50px 0px;
  }
  h2.carousel-header{
    padding-left: 0;
  }
  p.carousel-description{
    padding-left: 0;
  }
  div.carousel-caption{
    left: 10%;
    right: 10%;
    padding-bottom: 12%;
  }
  img.img-responsive{
	margin-left: 23%;
	padding-top: 5%;
  }
}
/******** FIN DISPOSITIVOS ********/
