/******** GLOBAL ********/
body {
  align: center;
  padding: 50px 0px 0px 0px;
  z-index: 0;
  font-family: 'PT Sans', sans-serif;
}
.row-header {
  margin: 0px auto;
  padding: 0px 0px;
}
.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}
.row-footer {
  margin: 0px auto;
  padding: 10px 0px;
  background-color: #AfAfAf;
}
.jumbotron {
  margin: 0px auto;
  padding: 50px 30px 60px 30px;
  background: #7986CB;
  color: floralwhite;
}
.tab-content {
  border-bottom: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  padding: 10px;
}
.affix {
  top: 100px;
}
/******** FIN GLOBAL ********/

/******** HEADER ********/
div.pedido{
  padding-top: 65%;
}
a.btn-pedir {
  width: 170%;
}
p.slogan{
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 20px;
}
img.img-responsive{
  padding-top: 35%;
}
/******** FIN HEADER ********/

/******** NAVBAR ********/
.navbar-inverse {
  background: #303f9f;
  color: #ffffff;
}
.navbar-nav a {
  font-size: 1.1em;
}
.navbar-inverse .navbar-nav > .active > a {
  background: #1a237e;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .active > a:hover {
  background: #1a237e;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .active > a:focus {
  background: #1a237e;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .open > a {
  background: #1a237e;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .open > a:hover {
  background: #1a237e;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .open > a:focus {
  background: #1a237e;
  color: #ffffff;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
  background-color: #303f9f;
  color: #eeeeee;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
  color: #000000;
}
.navbar-inverse .navbar-nav .open .dropdown-menu {
  background-color: #303f9f;
  color: #eeeeee;
}
a.translate{
  cursor: pointer;
}
/******** FIN NAVBAR ********/

/******** CAROUSEL ********/
.carousel {
  background: #1a237e;
}
.carousel .item {
  height: 300px;
}
.carousel .item img {
  left: 0;
  min-height: 300px;
  position: absolute;
  top: 0;
}
#carouselButtons {
  bottom: 0px;
  position: absolute;
  right: 0px;
}
div.carousel img{
  width: 35%;
  height: 100%!important;
}

h2.carousel-header{
  padding-left: 30%;
}

p.carousel-description{
  padding-left: 30%;
}

div.carousel-caption{
  left: 30%;
  right: 15%;
  padding-bottom: 5%;
}
span.fa-arrow-left{
  position: absolute;
  top: 50%;
  left: 10%;
}
span.fa-arrow-right{
  position: absolute;
  top: 50%;
  right: 10%;
}
/******** FIN CAROUSEL ********/

/******** INDEX BODY ********/
div.media-images img{
	width: 300px;
	height: 250px;
  filter: gray;
  -webkit-filter: grayscale(0.7);
  -webkit-transition: all .5s ease-in-out;
}

div.media-images img:hover{
	width: 300px;
	height: 250px;
  -webkit-filter: grayscale(0);
  -webkit-transform: scale(1.1);
  transform: rotate(5deg);
}

.label{
  font-size: 70%;
}

div.home-row{
  min-height: 250px;
}
/******** FIN INDEX BODY ********/

/******** MODAL PEDIDO ********/
.has-feedback .form-control{
  padding-right: 28px;
}

select.select-good-looking{
  padding: 5px;
  width: 12%;
  border-width: 3px;
  border-color: #337ab7;
  background-color: #337ab7;
  border-radius: 15px;
  color: #ffffff;
}
/******** FIN MODAL PEDIDO ********/

/******** CONTACTO ********/
div.contact-class h6{
  font-weight: bold;
  font-size: 1em;
}

h5.map-class{
  font-weight: bold;
  font-size: 1em;
}

div.container-fluid{
  padding-left: 0;
  padding-right: 0;
}
/******** FIN CONTACTO ********/

/******** FOOTER ********/
address {
  color: #0f0f0f;
  font-size: 80%;
  margin: 0px;
}
div.site-footer h5{
	font-weight: bold;
	font-size: 1.2em;
}
div.site-footer a{
	text-decoration: none;
}
a.develop_by{
	font-weight: bold;
	text-decoration: none;
}
/******** FIN FOOTER ********/

/******** DISPOSITIVOS ********/
/* NOTEBOOK */
@media only screen and (max-width:1024px){
  .label{
    font-size: 55%;
  }
  div.carousel img{
    min-width: 50%;
    min-height: 50%;
  }
  div.carousel-caption{
    left: 50%;
    right: 5%;
    padding-bottom: 5%;
  }
}
/* TABLET */
@media only screen and (max-width:768px){
  div.carousel img{
    min-width: 60%;
  }
  div.media-images img{
  	width: 150px;
  	height: 125px;
  }
  div.media-images img:hover{
    width: 150px;
  	height: 125px;
  }
  div.pedido{
    padding-top: 10%;
	padding-bottom: 0%;
	padding-right: 20%;
	padding-left: 20%;
  }
  a.btn-pedir {
      width: 100%;
  }
  p.slogan{
    font-size: 1.4em;
	padding-right: 0%;
	padding-left: 0%;
	padding-top: 2%;
	padding-bottom: 0%;
  }
  .label{
    font-size: 50%;
  }
  img.img-responsive{
	margin-left: 37%;
	padding-top: 5%;
  }
}
@media only screen and (max-width:600px){
  img.img-responsive{
	margin-left: 30%;
	padding-top: 5%;
  }
}

/* CELULAR */
@media only screen and (max-width:480px){
  div.media-images img{
  	width: 100px;
  	height: 75px;
  }
  div.media-images img:hover{
    width: 100px;
  	height: 75px;
  }
  div#mycarousel img{
    display:none;
  }
  h2.media-heading{
    font-size: 18px;
  }
  h4.media-subheading{
    font-size: 14px;
  }
  div.media-body p{
    font-size: 12px;
  }
  select.select-good-looking{
    width: 28%;
  }
  label{
    padding-right: 5px!important;
    padding-left: 5px!important;
  }
  div#btn-group-contactus-1 > div.btn-group{
    margin-left: auto;
    margin-right: auto;
  }
  a.button-contactus{
    font-size: 0.7em!important;
    padding-left: 4px;
    padding-right: 4px;
  }
  div.home-row{
    min-height: 150px;
  }
  h2.carousel-header{
    padding-left: 0;
  }
  p.carousel-description{
    padding-left: 0;
  }
  div.carousel-caption{
    left: 10%;
    right: 10%;
    padding-bottom: 12%;
  }
  img.img-responsive{
	margin-left: 23%;
	padding-top: 5%;
  }
}
/******** FIN DISPOSITIVOS ********/
